{% extends 'core/base.html' %}

{% load static %}

{% block content %}



<div class="container">
    <div class="title text-center">
        <h2>Sobre KenjiStore</h2>
        <img src="{% static 'images/about/about.jpg'%}" alt="About Us" width="100%">
        
        <br><br><p>KenjiStore es una librería virtual especializada en manga, cuya única misión es divulgar y ofrecer lo mejor de lo mejor, y a veces, obras que ni siquiera sabías que querías.

        <p>KenjiStore nace con la intención y quizás necesidad de democratizar un poco más el manga en Chile, centrándonos en el inmenso universo cultural <br>
            que hay en la narrativa gráfica japonesa (que es un recurso de infinito aprendizaje y apreciación para nosotros occidentales), <br>
            pero no solo en el manga comercial, pop, mainstream, “shonen genérico”, etc. sino que abordando y dándole el cariño, cuidado y vitrina<br>
            necesaria a obras que quizás están infravaloradas o eclipsadas por tanta producción de este material en el país del sol naciente.<br><br>            
            Con nuestros humildes conocimientos del manga y nuestros conocimientos del rubro editorial y de librería general, queremos aportar a este <br>
            nicho que ya existe hace mucho tiempo, al igual que en otros países, y que siempre ha sido un nicho muy cerrado, pero en los últimos años <br>
            con la masiva expansión de youtube y las plataformas de streaming, y el internet en general, el anime se hizo viral y logró llegar a mucha más personas,<br>
            diversificando el “perfil otaku”, y es aquí donde KenjiStore quiere hacer su aporte, mostrándole a estas personas el gran valor y aporte cultural <br>
            que tiene el manga en muchos ámbitos, y así impulsar el mismo fenómeno ocurrido con el anime pero ahora con el manga… CON LOS MEJORES MANGAS.</p>
    </div>
</div>

{% endblock content %}