{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<body id="body">

    <div class="page-wrapper">
        <div class="cart shopping">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="block">
                            <div class="product-list">
                                <form method="post">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="">Nombre</th>
                                                <th class="">Precio</th>
                                                <th class="">Cantidad</th>
                                                <th class="">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in items %}
                                            <tr class="">                                           
                                                <td class="">                                                
                                                    <div class="product-info">                                                   
                                                        <img width="80" src="{{item.item.imagen.url}}">
                                                        <a href="#!">{{item.item}}</a>
                                                    </div>
                                                </td>
                                                <td class="">${{item.item.precio}}</td>
                                                <div class="quantity">
                                                    <td class="">{{item.quantity}}
                                                    
                                                            <img data-item="{{item.item.id}}" data-action="add" class="chg-quantity update-cart"
                                                            src="{% static 'images/arrow-up.png' %}" style="height: 10px;">

                                                            <img data-item="{{item.item.id}}" data-action="remove" class="chg-quantity update-cart"
                                                            src="{% static 'images/arrow-down.png' %}" style="height: 10px;">
                                                    
                                                    </td>
                                                </div>
                                                <td class="">
                                                    <a class="product-remove" href="#!">Eliminar</a>                                               
                                                </td>                                                 
                                            </tr>
                                            <br>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                    <table class="table">
                                        <tr>
                                            <th>
                                                <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
                                            </th>
                                            <th>
                                                <h5>Total: <strong>${{order.get_cart_total}}</strong></h5>
                                            </th>
                                            <th>
                                                <a href="../checkout" class="btn btn-main pull-right">Confirmar</a>
                                            </th>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock content %}