{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<body id="body">

    <div class="page-wrapper">
        <div class="cart shopping">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="block">
                            <div class="product-list">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="">Nombre</th>
                                                <th class="">Precio</th>
                                                <th class="">Cantidad</th>
                                                <th class="">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in items %}
                                            <tr class="">                                           
                                                <td class="">                                                
                                                    <div class="product-info">                                                   
                                                        <img width="80" src="{%static 'images/shop/products/'%}{{item.item.imagen}}">
                                                        <a href="../index">{{item.item}}</a>
                                                    </div>
                                                </td>
                                                <td class="">${{item.item.precio}}</td>
                                                <div class="quantity">
                                                    <td class="">{{item.quantity}}
                                                        {% if item.quantity < item.item.stock %}
                                                            <img data-item="{{item.item.id}}" data-item_stock="{{item.item.stock}}" data-action="add" class="chg-quantity update-cart"
                                                            src="{% static 'images/arrow-up.png' %}" width="13">
                                                        {% endif %}
                                                            <img data-item="{{item.item.id}}" data-item_stock="{{item.item.stock}}" data-action="remove" class="chg-quantity update-cart"
                                                            src="{% static 'images/arrow-down.png' %}" width="13">
                                                    
                                                    </td>
                                                </div>
                                                <td>
                                                    {% if user.is_authenticated %}
                                                    <form action="/cart/delete_item" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="item" value="{{item.item.id}}">
                                                        <button type="submit" class="product-remove">Eliminar</button>                                               
                                                    </form>
                                                    {% else %}
                                                    <button type="button" data-item="{{item.item.id}}" data-action="delete" class="product-remove update-cart">Eliminar</button>
                                                    {% endif %}
                                                </td>                                                 
                                            </tr>
                                            <br>
                                        {% empty %}
                                            <tr>
                                                <td colspan="4" class="text-center"><h3>No hay productos en el carrito para mostrar.</h3></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                    <table class="table">
                                        <tr>
                                            <th>
                                                <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
                                            </th>
                                            <th>
                                                <h5>Total: <strong>${{order.get_cart_total}}</strong></h5>
                                            </th>
                                            {% if order.get_cart_items > 0 %}
                                            <th>
                                                <a href="../checkout" class="btn btn-main pull-right">Confirmar</a>
                                            </th>
                                            {% endif %}
                                        </tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock content %}