{% extends 'core/base.html' %}

{% load static %}

{% block content %}



<div class="container">
    <div>
        <h2>Preguntas frecuentes</h2><br>
        <h3>¿Puedo comprar en KenjiStore si vivo fuera de Chile?</h3><br>
        <p>En KenjiStore solo vendemos en territorio nacional. (dentro de Chile) </p><br><br>

        <h3>¿Que medios de pago puedo usar?</h3>
        <p>Puedes pagar mediante transferencia bancaria. </p><br><br>

    </div>
    <div>
        <h3>¿Como funcionan los envíos?</h3>
        <p class="justify-content: center">Las condiciones y plazos de envío varían según la región y comuna de despacho:<br>
            REGION METROPOLITANA: Entregamos a través de una empresa de delivery privada que es segura y muy rápida.<br>
            A dicha empresa le entregamos los pedidos días martes, jueves y sábados, y la agenda para entrega de pedidos se cierra las 20:00hrs. del día anterior correspondiente.
            Si la entrega es en una comuna del Gran Santiago, se entregará martes/miércoles, jueves/viernes y sábado/lunes respectivamente.
            Si es en una comuna lejana(*), demora 5 días máximo. <br><br>
            REGIÓN DE VALPARAÍSO: Entregamos a través de delivery privado en las comunas de Casablanca, Con Con, Quilpué, Valparaíso, Villa Alemana y Viña del Mar.
            A dicha empresa le entregamos los pedidos los días martes, jueves y sábados, y la agenda para entrega de pedidos se cierra las 20:00hrs. del día anterior correspondiente. 
            El plazo de entrega en esos casos es 5 días máximo. Las demás comunas entregamos con Starken por pagar a domicilio o sucursal.<br><br>

            REGIÓN DE O'HIGGINS: Entregamos a través de delivery privado en los sectores urbanos de las comunas de Graneros, Machalí, Rancagua y San Francisco de Mostazal. 
            A dicha empresa le entregamos los pedidos los días martes, jueves y sábados, y la agenda para entrega de pedidos se cierra las 20:00hrs. del día anterior correspondiente. 
            El plazo de entrega en esos casos es 5 días máximo. Las demás comunas entregamos con Starken por pagar a domicilio o sucursal.<br>
            OTRAS REGIONES: Entregamos con Starken por pagar a domicilio o sucursal.<br><br>
            (*) Comunas lejanas de la Región Metropolitana son las zonas urbanas de: Buin, Calera de Tango, Colina (incluye Chicureo), Curacaví, El Monte,
            Lampa, Paine, Peñaflor, Pirque, Talagante, Isla de Maipo, Melipilla, María Pinto, San José de Maipo. </p><br><br>
    </div>
</div>

{% endblock content %}