<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>KenjiStore. Tienda online de manga y comics</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!--Link para importar el archvio main.css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'store' %}">
                <!--Logo-->
                <img src="{% static 'images/kenji_logo_fondo_transparente.png'%}" alt="" width="100" height="100" class="d-inline-block align-text-top">
                <!--Aquí puedo ingresar un título-->
            </a>        
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Foro</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Catálogo
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Editoriales</a></li>
                            <li><a class="dropdown-item" href="#">Autores</a></li>
                            <li><a class="dropdown-item" href="#">Géneros</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Nosotros</a>
                    </li>
                </ul>
                <div class="col col-xs-12 col-sm-6 col-md-7 col-cart">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar título, editorial o autor" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
                <div class="col col-xs-12 col-sm-6 col-md-1 col-cart">
   
                    <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
                </div>
                
                    <a href="{% url 'cart' %}">
                        <img id="cart-icon" src="{% static 'images/cart.png' %}">
                    </a>
                    <p id="cart-total">0</p>
                </div>

            </div>
        </div>
    </nav>
    
                                        
    <div class="container">
        {% block content %}
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Berserker</td>
                        <td>0</td>
                        <td>Editar - Borrar</td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            

        {% endblock content %}
    </div>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
    
</body>

<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4" style="background-color: #c13131">
        <!-- Left -->
        <div class="me-5">
            <span>Mantente conectado con nuestras redes:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <section class="buttons">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                
            </section>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">KenjiStore Ltda.</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #000000; height: 2px" />
                    <p>
                       Somos aficionados del mundo del manga y el animé, con contenido para ti a un click de distancia
                    </p>
                </div>

                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Productos</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #000000; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Mangas</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Cómics</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Novedades</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Recomendaciones</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Links de interés</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #000000; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Tu cuenta</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Ayuda</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contáctanos</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #000000; height: 2px" />
                    <p><i class="fa fa-home mr-3"></i> Santiago, Providencia 10012, Región Metropolitana</p>
                    <p><i class="fa fa-envelope mr-3"></i> kenjistore@gmail.com</p>
                    <p><i class="fa fa-phone mr-3"></i> + 569 234 567 88</p>
                    <p><i class="fa fa-print mr-3"></i> + 22234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
</footer>
<!-- Footer -->

</html>