{% extends 'core/main.html' %}

{% block contenido %}
   
   <section>                                     
    <div class="container">
    
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Berserker</td>
                        <td>0</td>
                        <td>Editar - Borrar</td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            


    </div>
</section>

{% endblock %}

 