{% extends 'core/main.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'images/banner_1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Conoce nuestra tienda</h2>
                <p>Puedes encontrar tus mangas favoritos.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'images/banner_2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Conoce nuestra tienda</h2>
                <p>También tenemos cómics de todos los gustos.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/banner_4.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Conoce nuestra tienda</h2>
                <p>Nuestro catálogo siempre está actualizado.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr>
<div class="row">
    <div class="col-lg-4">
        <div class="box-element product">
            <img src="{% static 'images/akira1_717x.progressive.jpg' %}" alt="">
            <h5><strong text-añ>Akira</strong></h5>
            <h6>En la hostil y caótica megalópolis de Neo Tokyo, Tetsuo y sus compañeros deberán averiguar el enigma de Akira, bajo el cual se esconde el más escalofriante secreto científico.</h6>

        </div>
    </div>

    <div class="col-lg-4">
        <div class="box-element product">
            <img src="{% static 'images/fullmetal1_676x.progressive.jpg' %}" alt="">
            <h5><strong>Fullmetal Alchemist</strong></h5>
            <h6>Cuando tan solo eran unos niños, los hermanos Edward y Alphonse Elric usaron la alquimia para cometer un pecado capital: intentar la transmutación humana. El terrible precio que tuvieron que pagar por su osadía les ha lisiado de por vida, pero no se resignan a su destino y están dispuestos

                a recuperar sus cuerpos. Y para ello necesitan la sustancia más especial del mundo: el quinto elemento, la piedra filosofal.</h6>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="box-element product">
            <img src="{% static 'images/jujutsu_kaisen_0.jpg' %}" alt="">
            <h5><strong>Jujutsu Kaisen</strong></h5>
            <h6>Las emociones negativas creadas por los humanos se convierten en maldiciones y se esconden en la vida cotidiana. Las maldiciones son una fuerte epidemia en el mundo y, en el peor de los casos, lleva a los humanos a la muerte. Estas maldiciones solo pueden ser exorcizadas.</h6>
        </div>
    </div>
</div>
{% endblock content %}