{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta bancaria KenjiStore</title>
    <h1 class="text-center">LISTO! <br><br>Para recibir tu pedido, debes enviar el total a nuestra cuenta corriente:</h1>
    <h1 class="text-center">Datos cuenta corriente:</h1>
    <h3 class="text-center">Cuenta corriente Banco BCI<br><br>
        - Número de cuenta: 0000-221679965 <br><br>
        - correo: kenjistore@gmail.com<br><br>
    Cuando hagas la transferencia, envíanos el comprobante a nuestro correo.   

    </h3>


</head>
<body>
    
</body>
</html>

{% endblock content %}