{% extends 'core/base.html' %}

{% load static %}

{% block content %}


<body id="body">

<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="index.html">Principal</a></li>
					<li><a href="shop.html">Comprar</a></li>
					<li class="active">Producto</li>
				</ol>
			</div>
			<div class="col-md-6">
				<ol class="product-pagination text-right">
					<li><a href="blog-left-sidebar.html"><i class="tf-ion-ios-arrow-left"></i> Siguente </a></li>
					<li><a href="blog-left-sidebar.html">Vista previa <i class="tf-ion-ios-arrow-right"></i></a></li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								<div class='item active'>
									<img src="{% static 'images/shop/products/id5.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id5.png' %}" />
								</div>
								<div class='item'>
									<img src="{% static 'images/shop/products/id5a.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id5a.png' %}" />
								</div>
								
								<div class='item'>
									<img src="{% static 'images/shop/products/id5b.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id5b.png' %}" />
								</div>
								<div class='item'>
									<img src="{% static 'images/shop/products/id5c.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id5c.png' %}"/>
								</div>
								<div class='item'>
									<img src="{% static 'images/shop/products/id5d.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id5d.png' %}" />
								</div>
								<div class='item'>
									<img src="{% static 'images/shop/products/id5e.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id5e.png' %}" />
								</div>
								
							</div>
							
							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							<li data-target='#carousel-custom' data-slide-to='0' class='active'>
								<img src="{% static 'images/shop/products/id5.png' %}" alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='1'>
								<img src="{% static 'images/shop/products/id5a.png' %}" alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='2'>
								<img src="{% static 'images/shop/products/id5b.png' %}" alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='3'>
								<img src="{% static 'images/shop/products/id5c.png' %}" alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='4'>
								<img src="{% static 'images/shop/products/id5d.png' %}" alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='5'>
								<img src="{% static 'images/shop/products/id5e.png' %}" alt='' />
							</li>
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>Asadora</h2>
					<p class="product-price">$9990</p>
					
					<p class="product-description mt-20">
						¡ASADORA! La nueva serie del maestro del suspense, thriller, y muchos otros géneros del Seinen, el gran NAOKI URASAWA, este vuelve a la serialización con nuevas dosis de saltos temporales, conspiraciones y presagios apocalípticos, y no se le dan nada mal…
					</p>
                    <br>
					<br>
					<h4>Información:</h4><br>
					<h5>- isbn: 9788413417745 <br><br>
						- Editorial: Planeta Comic <br><br>
						- Autor: Naoki Urasawa   <br><br>
						- Número de páginas: 202 <br><br>
					</h5>


					<div class="product-quantity">
						<span>Cantidad:</span>
						<div class="product-quantity-slider">
							<input id="product-quantity" type="text" value="0" name="product-quantity">
						</div>
					</div>
					
					<a href="cart.html" class="btn btn-main mt-20">Añadir al carrito</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Detalles</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>Descripción del producto</h4>
							<p>Asa Asada, una niña que se afana por llegar al hospital para asistir a su madre en el parto de uno de sus numerosos hermanos. El tifón cada vez está más cerca y Asa corre todo lo que puede, llegando a adelantar a su amigo, futuro candidato a atleta en los juegos olímpicos. ¡Y todo esto mientras se cala y el viento juega en su contra! Jamás llega a su destino porque, a pesar de su fuerte carácter, es una persona muy amable. Eso ocasiona que se pare a evitar un robo, y que el ladrón, un misterioso y malhumorado anciano, le acabe secuestrando al confundirla con una niña de familia rica. Nada más alejado de la realidad. <br><br>

                                Una historia ambientada en 1959 durante la posguerra donde, una valiente niña llamada Asada Asa, contempla el ataque de un Kaijyu. El Autor de MONSTER, 20TH CENTURY BOYS, entre otras increíbles obras, siempre es alguien al cual recurrir si queremos disfrutar de un buen manga con todos sus componentes.</p>
							
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="products related-products section">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Productos Relacionados</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Venta</span>
						<img class="img-responsive" src="{% static 'images/shop/products/id1.png' %}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">Requiem por el rey de la rosa</a></h4>
						<p class="price">$11990</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="{% static 'images/shop/products/id3.png' %}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">Beastars Vol.3</a></h4>
						<p class="price">$13990</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="{% static 'images/shop/products/id6.png' %}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">Astroboy Vol. 1</a></h4>
						<p class="price">$26500</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="{% static 'images/shop/products/id10.png' %}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">Captain Tsubasa Vol. 1</a></h4>
						<p class="price">$14390</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>



<!-- Modal -->
		<div class="modal product-modal fade" id="product-modal">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="{% static 'images/shop/products/modal-product.jpg' %}" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">GM Pendant, Basalt Grey</h2>
			        				<p class="product-price">$200</p>
			        				<p class="product-short-description">
			        					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
			        				</p>
			        				<a href="cart.html" class="btn btn-main">Add To Cart</a>
			        				<a href="product-single.html" class="btn btn-transparent">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->

		</div>
	</div>
</section>
</body>
{% endblock content %}
