{% extends 'core/base.html' %}

{% load static %}

{% block content %}


<body id="body">


<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="index.html">Principal</a></li>
					<li><a href="shop.html">Comprar</a></li>
					<li class="active">Producto</li>
				</ol>
			</div>
			<div class="col-md-6">
				<ol class="product-pagination text-right">
					<li><a href="blog-left-sidebar.html"><i class="tf-ion-ios-arrow-left"></i> Siguente </a></li>
					<li><a href="blog-left-sidebar.html">Vista previa <i class="tf-ion-ios-arrow-right"></i></a></li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								<div class='item active'>
									<img src="{% static 'images/shop/products/id2.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id2.png' %}" />
								</div>
								<div class='item'>
									<img src="{% static 'images/shop/products/id2a.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id2a.png' %}" />
								</div>
								
								<div class='item'>
									<img src="{% static 'images/shop/products/id2b.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id2b.png' %}" />
								</div>
								<div class='item'>
									<img src="{% static 'images/shop/products/id2c.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id2c.png' %}"/>
								</div>
								<div class='item'>
									<img src="{% static 'images/shop/products/id2d.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id2d.png' %}" />
								</div>
								<div class='item'>
									<img src="{% static 'images/shop/products/id2e.png' %}" alt='' data-zoom-image="{% static 'images/shop/products/id2e.png' %}" />
								</div>
								
							</div>
							
							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							<li data-target='#carousel-custom' data-slide-to='0' class='active'>
								<img src="{% static 'images/shop/products/id2.png' %}" alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='1'>
								<img src="{% static 'images/shop/products/id2a.png' %}" alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='2'>
								<img src="{% static 'images/shop/products/id2b.png' %}" alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='3'>
								<img src="{% static 'images/shop/products/id2c.png' %}" alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='4'>
								<img src="{% static 'images/shop/products/id2d.png' %}" alt='' />
							</li>
							<li data-target='#carousel-custom' data-slide-to='5'>
								<img src="{% static 'images/shop/products/id2e.png' %}" alt='' />
							</li>
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>Sun-Ken Rock</h2>
					<p class="product-price">$17990</p>
					
					<p class="product-description mt-20">
						¡SUN-KEN ROCK! La obra más gamberra de Boichi, Sun-Ken Rock, nos llega a España de la mano de Ivrea y de esta espectacular edición doble. Boichi es un monstruo en las ilustraciones que hace y lo mejor es que va mejorando cada vez más, hay pocos mangas con dibujos  tan excelentes como este.
					</p>
                    <br>
					<br>
					<h4>Información:</h4><br>
					<h5>- isbn: 9788419185167 <br><br>
						- Editorial: Ivrea España <br><br>
						- Autor: Boichi    <br><br>
						- Número de páginas: 400 aprox. <br><br>
					</h5>


					<div class="product-quantity">
						<span>Cantidad:</span>
						<div class="product-quantity-slider">
							<input id="product-quantity" type="text" value="0" name="product-quantity">
						</div>
					</div>
					
					<a href="cart.html" class="btn btn-main mt-20">Añadir al carrito</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Detalles</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>Descripción del producto</h4>
							<p>La historia se centra en Ken, un chico huérfano por culpa de los lazos de su familia con la Yakuza. Su vida son las peleas y las broncas, pero si algo lo motiva es estar coladito por su compañera de clase, Yumin. Cuando esta decide irse a Corea para convertirse en policía, Ken no se lo pensará dos veces y querrá seguir sus pasos.

                                Por casualidades de la vida, las cosas no irán como él esperaba y se convertirá en alguien sin oficio ni beneficio. Pero tiempo más tarde, llama la atención de una banda mafiosa y acaba metido hasta las cejas en ella. Siendo Yumin policía, las cosas se van a complicar bastante para Ken…</p>
							
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="products related-products section">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Productos Relacionados</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Venta</span>
						<img class="img-responsive" src="{% static 'images/shop/products/id1.png' %}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">Requiem por el rey de la rosa</a></h4>
						<p class="price">$11990</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="{% static 'images/shop/products/id3.png' %}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">Beastars Vol.3</a></h4>
						<p class="price">$13990</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="{% static 'images/shop/products/id6.png' %}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">Astroboy Vol. 1</a></h4>
						<p class="price">$26500</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="{% static 'images/shop/products/id10.png' %}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">Captain Tsubasa Vol. 1</a></h4>
						<p class="price">$14390</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>



<!-- Modal -->
		<div class="modal product-modal fade" id="product-modal">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="{% static 'images/shop/products/modal-product.jpg' %}" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">GM Pendant, Basalt Grey</h2>
			        				<p class="product-price">$200</p>
			        				<p class="product-short-description">
			        					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
			        				</p>
			        				<a href="cart.html" class="btn btn-main">Add To Cart</a>
			        				<a href="product-single.html" class="btn btn-transparent">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->

		</div>
	</div>
</section>

</body>
{% endblock content %}
